---
layout: markdown_page
title: "Public GitLab Certifications"
description: "Build your GitLab knowledge by proving your skills with a GitLab Certification. Learn more!"
canonical_path: "/learn/certifications/public/"
---

## Validate Your Knowledge of GitLab

Certifying with GitLab can help individuals, teams, and organizations validate the knowledge needed to stay ahead of the DevOps curve. Whether you are looking to take the next step in your career or trying to fill skills gaps in your company, we have certifications and exams that match your needs.

## Getting started

To get started, consider the instructor-led [GitLab Certified Associate](https://about.gitlab.com/services/education/gitlab-certified-associate/). Once you've completed the GitLab Certified Associate, you can move on to Specialist certifications. 

## Available public certifications

All GitLab Certifications currently available to the entire GitLab community are listed below. 

| Certification | Level |
| --- | --- |
<% data.learn.learn.select{|course| course.assessment == "Certification" && course.confidentiality == "Public" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course| %>
<%= "| [#{course.name}](#{course.url}) | #{course.level} |" %>
<% end %>

Other resources:
- Publicly available learning resources on [GitLab Learn for everyone](/learn/public)
- Publicly available learning resources [organized by use case](/learn/use-case/public)  
- [Full list of certifications](/learn/certifications) including those only available to GitLab Team Members

## Why Certifications

A certification indicates that an individual community member has acquired the knowledge, skills, and abilities required to perform a specific skill or job. Certifications include an examination process.

## Minimum requirements of a GitLab Certification

GitLab follows an organization-wide minimum set of requirements to determine what is a certification.

### Certification requirements
1. Knowledge exam or written assessment.
1. Project submission and grading.
1. Digital verification of certification status and date awarded by GitLab.
1. Access to GitLab Instance and Demo Cloud to complete hands-on practical application assessments when required.
1. Certifications may expire as the product updates over time, when this occurs, learners can re-certify through GitLab with our recertification process.

### What is not considered a certification
1. Self-study eLearning course that includes a knowledge check/assessment without an examination.
1. Standalone instructional videos, job aids, blog posts, or articles.
1. Training that includes a certificate of completion

## What is included in a GitLab Certification

GitLab offers two types of certifications

| Certification Type | Description | How to Earn | Where to Find |
| ------ | ------ | ------ | ------ |
| Technical Certification | Technical certifications to help the GitLab community and team members validate their ability to apply GitLab in their daily DevOps work.  | To earn a technical certification: <br> 1. Candidates must pass a written asessment. <br> 2. Pass a hands-on lab assessment. <br> 3. Graded by GitLab Professional Services Engineers | See list below |
| Knowledge Certification |  Role-based certifications that include functional, soft skills, and product training for team and community members. | To earn a knowledge certification: <br> 1. Complete a prerequisite. <br> 2. Pass an online written exam (knowledge). <br> 3. Pass a practical assessment (skill) <br> Upon completion of all courses within each certification, learners will receive a badge or certificate of completion | See list below |

## Technical Certifications Overview

GitLab is planning and developing several technical certifications to help the GitLab community and team members validate their ability to apply GitLab in their daily DevOps work. To earn certification, candidates must first pass a written assessment, followed by a hands-on lab assessment graded by GitLab Professional Services engineers.

### Certification Journey Structure and Flow

#### Structure

There are three levels of GitLab Technical Certification.

1. Associate
2. Specialist
3. Professional

The Associate level is a prerequisite for the Specialist level, and the Specialist level is a prerequisite for the Professional level.

#### Flow

The following diagram shows the journey from Associate through Professional for the GitLab Certified DevOps Professional certificate.

```mermaid

  flowchart LR
    subgraph a [Specialist Curriculum]
      cd_ci>GitLab CI/CD<br/> Specialist Certification]
      pgm>GitLab Progam Management<br/> Specialist Certification]
      sec>GitLab Security<br/> Specialist Certification]
    end
    gca>GitLab Certified<br/>Associate Certification]-->a
    a-->devops{GitLab DevOps<br/> Professional Certificate}

    classDef orange fill:#f96,stroke:#333,stroke-width:2px;
    classDef fuschia fill:#FCB,stroke:#333,stroke-width:2px;
    classDef burnt fill:#FFA,stroke:#333,stroke-width:2px;
    class gca orange
    class cd_ci fuschia
    class pgm fuschia
    class sec fuschia
    class devops burnt
```

### Technical certifications benefits

#### For employers

Certifications help confirm that team members possess the skills needed to effectively use GitLab in their daily DevOps tasks. This helps the team more successfully adopt GitLab and make the most of the organization's investment.

#### For individuals

Certification include a logo that can be shared on social media to showcase your accomplishment. This helps highlight to colleagues and employers proficiency in using GitLab.
